<!-- <mat-progress-bar mode="determinate" [value]="77"></mat-progress-bar> -->
<nz-layout class="app-layout">
  <nz-sider nzWidth="200px" *ngIf="isLogged()" nzCollapsible  nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <!-- <h1>Helpdesk Novahub</h1> -->
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/project">Project</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Day Off</a>
          </li>
        </ul>
      </li>


      <li *ngIf="isAdminLoggin" nz-submenu nzOpen nzTitle="Admin" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dayoff">Day Off manage</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/project-admin">Project manage</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/dayofftype">Day Off Type</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/categories">Category</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/skills">Skill</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/users">Users</a>
          </li>
            <!-- <li nz-menu-item (click)="logout()">
              <i nz-icon nzType="logout"></i>
              <span>Logout</span>
            </li> -->
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header *ngIf="isLogged()">
      <div class="app-header" style="background: rgb(1, 7, 36);">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
        <div style="float: right;margin-right: 20px;"><app-my-profile></app-my-profile></div>
      </div>
    </nz-header>    
    <nz-content >
      <div class="inner-content" >
        <router-outlet></router-outlet>
      </div>  
    </nz-content>
  </nz-layout>

</nz-layout>